astroid==3.3.10
attrs==25.3.0
cffi==1.17.1
cryptography==45.0.5
iniconfig==2.1.0
isort==6.0.1
lazy-object-proxy==1.11.0
mccabe==0.7.0
packaging==25.0
pluggy==1.6.0
py==1.11.0
pycparser==2.22
PyJWT==2.10.1
pylint==3.3.7
pyparsing==3.2.3
pytest==8.4.1
six==1.17.0
toml==0.10.2
wrapt==1.17.2
