astroid==2.12.2
attrs==21.4.0
cffi==1.15.1
cryptography==37.0.4
iniconfig==1.1.1
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
packaging==21.3
pluggy==1.0.0
py==1.11.0
pycparser==2.21
PyJWT==2.4.0
pylint==2.14.5
pyparsing==3.0.9
pytest==7.1.2
six==1.16.0
toml==0.10.2
wrapt==1.14.1
